<div>
  <h1 class="places-info-header">Places you can visit</h1>
    <div class="places-box">
      <div class="list card place-box" ng-repeat="place in places" ng-click="choosePlace(place)">
        <div class="item item-avatar">
          <img src="{{place.imageURL}}"/>
          <h2>{{place.name}}</h2>
        </div>
        <div class="item item-body">
          <img class="place-top-image" src="{{place.imageURL}}"/>
          <p>
          </p>
          <p>
            <a href="#" class="subdued">1 Like</a>
            <a href="#" class="subdued">5 Comments</a>
          </p>
        </div>
      </div>
    </div>
</div>    
<ion-nav-view></ion-nav-view>