<div class="top-area show-onload">
    <div class="bg-holder full" >
        <div class="bg-front full-height bg-front-mob-rel">
            <div class="container full-height">
                <div class="rel full-height">
                    <div class="tagline visible-lg visible-md" id="tagline"><span>It's time to</span>
                        <ul>
                            <li>relax</li>
                            <li>play</li>
                            <li class="active">discover</li>
                            <li>find new friends</li>
                            <li>have fun</li>
                            <li>explore</li>
                            <li>go</li>
                            <li>live</li>
                            <li>meet</li>
                            <li>run away</li>
                        </ul>
                    </div>
                    <search-bar></search-bar>
                </div>
            </div>
        </div>

        <div class="owl-carousel owl-slider owl-carousel-area visible-lg" id="owl-carousel-slider" data-nav="false">
            <div class="bg-holder full">
                <div class="bg-mask"></div>
                <div class="bg-img" style="background-image:url(img/196_365_2048x1365.jpg);"></div>
            </div>
            <div class="bg-holder full">
                <div class="bg-mask"></div>
                <div class="bg-img" style="background-image:url(img/el_inevitable_paso_del_tiempo_2048x2048.jpg);"></div>
            </div>
            <div class="bg-holder full">
                <div class="bg-mask"></div>
                <div class="bg-img" style="background-image:url(img/viva_las_vegas_2048x1365.jpg);"></div>
            </div>
        </div>
        <div class="bg-img hidden-lg" style="background-image:url(img/196_365_2048x1365.jpg);"></div>
        <div class="bg-mask hidden-lg"></div>
    </div>
</div>
<!-- END TOP AREA  -->