<div class="top-area show-onload">
    <div class="bg-holder full">
        <div class="bg-front full-height bg-front-mob-rel">
            <div class="container full-height">
                <div class="rel full-height">
                    <div class="tagline visible-lg visible-md" id="tagline"><span>It's time to</span>
                        <ul>
                            <li>relax</li>
                            <li>play</li>
                            <li class="active">discover</li>
                            <li>find new friends</li>
                            <li>have fun</li>
                            <li>explore</li>
                            <li>go</li>
                            <li>live</li>
                            <li>meet</li>
                            <li>run away</li>
                        </ul>
                    </div>
                    <div class="search-tabs search-tabs-bg search-tabs-bottom mb30">
                        <div class="tabbable">
                            <div class="tab-content">
                                <div class="tab-pane fade in active" id="tab-1">
                                    <h2>What would you like to do?</h2>
                                    <form>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="form-group form-group-lg form-group-icon-left"><i class="fa fa-map-marker input-icon"></i>
                                                    <label>Please select activity</label>
                                                    <input class="typeahead form-control" placeholder="Scuba diving, Trekking, etc" type="text" />
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="input-daterange" data-date-format="M d, D">
                                                    <div class="row">
                                                        <div class="col-md-6">
                                                            <div class="form-group form-group-lg form-group-icon-left"><i class="fa fa-calendar input-icon input-icon-highlight"></i>
                                                                <label>From</label>
                                                                <input class="form-control" name="start" type="text" />
                                                            </div>
                                                        </div>
                                                        <div class="col-md-6">
                                                            <div class="form-group form-group-lg form-group-icon-left"><i class="fa fa-calendar input-icon input-icon-highlight"></i>
                                                                <label>To</label>
                                                                <input class="form-control" name="end" type="text" />
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <button class="btn btn-primary btn-lg" type="submit">Let's plan my vacation</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="owl-carousel owl-slider owl-carousel-area visible-lg" id="owl-carousel-slider" data-nav="false">
            <div class="bg-holder full">
                <div class="bg-mask"></div>
                <div class="bg-img" style="background-image:url(img/196_365_2048x1365.jpg);"></div>
            </div>
            <div class="bg-holder full">
                <div class="bg-mask"></div>
                <div class="bg-img" style="background-image:url(img/el_inevitable_paso_del_tiempo_2048x2048.jpg);"></div>
            </div>
            <div class="bg-holder full">
                <div class="bg-mask"></div>
                <div class="bg-img" style="background-image:url(img/viva_las_vegas_2048x1365.jpg);"></div>
            </div>
        </div>
        <div class="bg-img hidden-lg" style="background-image:url(img/196_365_2048x1365.jpg);"></div>
        <div class="bg-mask hidden-lg"></div>
    </div>
</div>
<!-- END TOP AREA  -->