
<section class="place-div" ng-show="isLoaded" >

<div style="padding:25px;" class="col-md-10">
<h4 class="col-md-2">
      <span>{{}}</span>
      {{selectedPlace.name}}
</h4>
<p class="place-desc">
  {{selectedPlace.desc}}
</p>
    <div style="clear: both; margin-top: 30px;"></div>

<br>

    <div class="Tabber" ng-init="itinerary=true;">
        <center>
            <div class="tab-item" ng-class="{'active': itinerary}" ng-click="itinerary=true;mapview=false;">
                <h2>Itinerary</h2>
            </div>

            <div class="tab-item" ng-class="{'active': mapview}"  ng-click="itinerary=false;mapview=true;">
                <h2>Map View</h2>
            </div>


        </center>
    </div>
    <br><br><br>
    <div id="map_canvas" ng-show="mapview">
    <ui-gmap-google-map center="map.center" zoom="map.zoom" draggable="true" options="options">
        <ui-gmap-marker ng-repeat="marker in markers" coords="marker.coords" options="marker.options" events="marker.events" idkey="marker.id">
        </ui-gmap-marker>
        <ui-gmap-circle ng-repeat="c in circles track by c.id" center="c.center" stroke="c.stroke" fill="c.fill" radius="c.radius"
                visible="c.visible" geodesic="c.geodesic" editable="c.editable" draggable="c.draggable" clickable="c.clickable" control="c.control"></ui-gmap-circle>
        <ui-gmap-polyline ng-repeat="p in polylines" path="p.path" stroke="p.stroke" visible='p.visible'
                  geodesic='p.geodesic' fit="false" editable="p.editable" draggable="p.draggable" icons='p.icons'></ui-gmap-polyline>
    </ui-gmap-google-map>
</div>

    <div style="clear: both;"></div>


    <ul class="timeline"  ng-show="itinerary">
        <li><div class="tldate">Jul 2015</div></li>
        <li ng-repeat="event in finalPlan.events track by $index" ng-class="{ 'timeline-inverted' : ($even)}">
            <div class="tl-circ"></div>
            <p class="flexi-time">{{event.boardTime.toFixed(2)}} Hrs - {{event.leaveTime.toFixed(2)}} Hrs</p>
            <div class="timeline-panel">
                <div class="tl-heading">
                    <h4><span class="event-rating">{{event.rating}}</span>{{event.name}}</h4>
                    <p><small class="text-muted"><i class="glyphicon glyphicon-time"></i> {{event.duration}} Hrs involvement.</small></p>
                </div>
                <div class="tl-body">
                    <p>{{event.shortDesc}}</p>
                </div>
            </div>
        </li>
    </ul>
    <div style="clear: both;"></div>

</div>
<div class="customize-trip-div col-md-2">
  You can even customize your plan. Feed us with what are your preferences, and leave all hustles on us.
  <h4>Cost:</h4>
  <ul class="list">
  <li class="item item-checkbox">
     <label class="checkbox">
          Rs.3000 and below
       <input type="radio" ng-value="3000" name="costBudget" ng-model="costBudget" ng-change="customizePlan(costBudget)">
     </label>

  </li>
  <li class="item item-checkbox">
     <label class="checkbox">
          Rs.3000 - Rs.7500
       <input type="radio" ng-value="7500" name="costBudget" ng-model="costBudget" ng-change="customizePlan(costBudget)">
     </label>

  </li>
  <li class="item item-checkbox">
     <label class="checkbox">
          Rs.10000 and above
       <input type="radio" ng-value="10000" name="costBudget" ng-model="costBudget" ng-change="customizePlan(costBudget)">
     </label>
  </li>

</ul>
<h4>Rating:</h4>
  <ul class="list">

  <li class="item item-checkbox">
     <label class="checkbox">
          5
       <input type="checkbox" value="1">
     </label>

  </li>
  <li class="item item-checkbox">
     <label class="checkbox">
          4

       <input type="checkbox" value="2">
     </label>
  </li>
  <li class="item item-checkbox">
     <label class="checkbox">
          3

       <input type="checkbox" value="3">
     </label>
  </li>
      <li class="item item-checkbox">
          <label class="checkbox">
              2

              <input type="checkbox" value="3">
          </label>
      </li>
      <li class="item item-checkbox">
          <label class="checkbox">
              1

              <input type="checkbox" value="3">
          </label>
      </li>

</ul>
</div>

</section>
<div style="clear: both;"></div>

<div ng-hide="isLoaded" class="loader-spinner">
    <center>
        <h2>Please wait....</h2>
        <i class="fa fa-spinner "></i>
        <h3>We're loading the best itinerary for you</h3>
    </center>
</div>
