<div class="search-tabs search-tabs-bg search-tabs-bottom mb30">
    <div class="tabbable">
        <div class="tab-content">
            <div class="tab-pane fade in active" id="tab-1">
                <h2>What would you like to do?</h2>
                <form ng-submit="searchForPlaces(activity)">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group form-group-lg form-group-icon-left"><i class="fa fa-map-marker input-icon"></i>
                                <label>Please enter an activity</label>
                                <input class="form-control" placeholder="Scuba diving, Trekking, etc" type="text" ng-model="activity.tag"/>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="input-daterange" data-date-format="M d, D">
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group form-group-lg form-group-icon-left"><i class="fa fa-calendar input-icon input-icon-highlight"></i>
                                            <label>From</label>
                                            <input class="form-control" name="start" type="text"  ng-model="activity.from"/>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group form-group-lg form-group-icon-left"><i class="fa fa-calendar input-icon input-icon-highlight"></i>
                                            <label>To</label>
                                            <input class="form-control" name="end" type="text"  ng-model="activity.to"/>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <button class="btn btn-primary btn-lg" type="submit">Let's plan my vacation</button>
                </form>
            </div>
        </div>
    </div>
</div>