/* Empty. Add your own CSS if you like */

.places-info-header {
	font-size: 24px;
  	color: white;
  	margin: 10px;
}
.places-box{
	display: inline-flex;
} 
.places-box .place-box {
	list-style: none;
  	margin: 10px !important;
  	padding: 0px;
  	width: 280px;
}
.place-box .place-top-image {
	width : 100%;
	height : 200px;
}

#main-footer {
    margin-top: 0px !important;
}

.search-tabs.search-tabs-bg.search-tabs-bottom.mb30 {
    bottom: 150px;
}

.search-tabs-bg > .tabbable >.tab-content > .tab-pane {

	background: rgba(0,0,0,0.5);
	color: white;
}

.search-tabs-bg > .tabbable >.tab-content > .tab-pane h2, .search-tabs-bg > .tabbable >.tab-content > .tab-pane i {
	color: white;
}

::-webkit-input-placeholder {
	color: white !important;
}

:-moz-placeholder { /* Firefox 18- */
	color: white !important;
}

::-moz-placeholder {  /* Firefox 19+ */
	color: white !important;
}

:-ms-input-placeholder {
	color: white !important;
}

.bg-holder > .bg-mask, .bg-holder > .bg-mask-darken, .bg-holder > .bg-mask-lighten, .bg-holder > .bg-mask-white, .bg-holder > .bg-mask-color, .bg-holder > .bg-mask-color-invert {
	opacity: 0.2;
}


.item-avatar, .item-avatar .item-content, .item-avatar-left, .item-avatar-left .item-content {
  padding-left: 72px;
  min-height: 72px; 
  position : relative;
}

.item-avatar h2 {
	font-size: 20px !important;
  position: absolute;
  top: 22px;
}
  .item-avatar > img:first-child, .item-avatar .item-image, .item-avatar .item-content > img:first-child, .item-avatar .item-content .item-image, .item-avatar-left > img:first-child, .item-avatar-left .item-image, .item-avatar-left .item-content > img:first-child, .item-avatar-left .item-content .item-image {
    position: absolute;
    top: 16px;
    left: 16px;
    max-width: 40px;
    max-height: 40px;
    width: 100%;
    height: 100%;
    border-radius: 50%; }

.item-avatar-right, .item-avatar-right .item-content {
  padding-right: 72px;
  min-height: 72px; }
  .item-avatar-right > img:first-child, .item-avatar-right .item-image, .item-avatar-right .item-content > img:first-child, .item-avatar-right .item-content .item-image {
    position: absolute;
    top: 16px;
    right: 16px;
    max-width: 40px;
    max-height: 40px;
    width: 100%;
    height: 100%;
    border-radius: 50%; }

.card.list .list-item {
  padding-right: 1px;
  padding-left: 1px; }

/**
 * Cards and Inset Lists
 * --------------------------------------------------
 * A card and list-inset are close to the same thing, except a card as a box shadow.
 */
.card, .list-inset {
  overflow: hidden;
  margin: 20px 10px;
  border-radius: 2px;
  background-color: #fff; }

.card {
  padding-top: 1px;
  padding-bottom: 1px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3); }
  .card .item {
    border-left: 0;
    border-right: 0; }
  .card .item:first-child {
    border-top: 0; }
  .card .item:last-child {
    border-bottom: 0; }

.padding .card, .padding .list-inset {
  margin-left: 0;
  margin-right: 0; }

.card .item:first-child, .list-inset .item:first-child, .padding > .list .item:first-child {
  border-top-left-radius: 2px;
  border-top-right-radius: 2px; }
  .card .item:first-child .item-content, .list-inset .item:first-child .item-content, .padding > .list .item:first-child .item-content {
    border-top-left-radius: 2px;
    border-top-right-radius: 2px; }
.card .item:last-child, .list-inset .item:last-child, .padding > .list .item:last-child {
  border-bottom-right-radius: 2px;
  border-bottom-left-radius: 2px; }
  .card .item:last-child .item-content, .list-inset .item:last-child .item-content, .padding > .list .item:last-child .item-content {
    border-bottom-right-radius: 2px;
    border-bottom-left-radius: 2px; }

.card .item:last-child, .list-inset .item:last-child {
  margin-bottom: -1px; }

.card .item, .list-inset .item, .padding > .list .item, .padding-horizontal > .list .item {
  margin-right: 0;
  margin-left: 0; }
  .card .item.item-input input, .list-inset .item.item-input input, .padding > .list .item.item-input input, .padding-horizontal > .list .item.item-input input {
    padding-right: 44px; }

.tt-dropdown-menu {
	color: whitesmoke;
	background: rgba(0,0,0,0.3);
}

search-bar-mini .search-tabs-bottom {
  position: relative;
  bottom: initial !important;
  top: auto;
    margin-bottom: 0px !important;
  padding-bottom: 5px;
  background-color: rgb(166, 49, 49);
}

search-bar-mini .form-group .input-icon {
  top: 0px;
}

search-bar-mini .form-control {
	background-color: rgba(255, 255, 255, 0.25);
  background-image: none;
  border: 1px solid rgba(204, 204, 204, 0.24);
}

.place-box-1 {
	padding-bottom : 10px;

	-webkit-transition:all ease-out 0.3s;
  	transition:all ease-out 0.3s;
}
.place-box-1 .details h2 {
	color: #C54D4D!important;
  -webkit-text-shadow: none;
  -moz-text-shadow: none;
  text-shadow: none;
  text-align: left;
  display: inline-block;
  float: left;
  font-size: 20px;
  font-weight: bold
}
.place-box-1 div figure a img {
	height : 200px;
	-webkit-transition:all ease-out 0.5s;
  	transition:all ease-out 0.5s;
}

.place-box-1 div figure a img.smaller {
  height : 80px;
  /*width : 100px;*/
  width: 100%;
}
.place-name {
position: absolute;
  bottom: 0;
  
  background: rgba(0,0,0, 0.55);
  
  color: white;
  width: 86%;
  text-align: center;
}

.details {
	  float: left;
  display: block;
  padding: 13px 15px 15px;
  width: 100%;
  background : rgba(217, 198, 198, 0.51)
}
.price {
	width: 100%;
  display: inline-block;
  border-top: 1px solid #ccc;
  font-size: 12px;
  padding: 10px 0 0;
  margin: 10px 0 0;
  line-height: 19px;
}
.stars img {
  display: inline;
  float: right;
  margin: 3px 0 0;
  white-space: nowrap;
  max-width: 12px;
}

.col-md-1-1 {
	width : 10.333% !important;
	padding-top: 10px;
}
.place-selected {
	background : white;
}
.row-full {
	background-color: rgba(166, 48, 48, 0.99);
  margin: 0 !important;
  width: 100% !important;
}
.customize-trip-div {
	padding: 0;
	  box-shadow: 1px 2px 5px 2px gray;
	  height : 100%;
  float: right;
}
.place-div {
	height : 700px;
}
.place-div .place-desc {
	height: 45px;
  overflow: hidden;
  border-left: 2px solid rgba(128, 128, 128, 0.36);
  padding-left: 35px;
    padding-top: 2px;
}
.place-div-left-li {
	height: 70px;
  line-height: 70px;
  
  background-color: rgba(237, 131, 35, 0.86);
  border-bottom: 1px solid white;
  
}
.place-div-left-li a {
	text-decoration: none;
	color: black !important;
}
.angular-google-map-container { height: 600px; }

.label-marker {
	padding : 10px;
	background: lightgray;
}

article figure {
  width: 100%;
}


@media (max-width: 992px) {
  search-bar-mini .search-tabs-bottom {
    position: relative;
    bottom: auto;
    top: 0;
    margin-top: 0px;
  }

  search-bar-mini .search-icon-mobile {
    position: absolute;
    right: 20px;
    top: -55px;
  }

  search-bar-mini .search-icon-mobile.search-togg {
    position: absolute;
    right: 20px;
    top: -55px;
  }
  search-bar-mini .hideSearch {
    display: none;
  }

  search-bar-mini .showSearch {
    display: block;
  }
}

@media (min-width: 992px) {
  search-bar-mini form {
    height: 40px;
  }
  search-bar-mini .hideSearch {
    display: block;
  }

  search-bar-mini .showSearch {
    display: block;
  }

  .place-name {
    position: absolute;
    bottom: 0;

    background: rgba(0,0,0, 0.55);

    color: white;
    width: 80%;
    text-align: center;
  }
}

.loader-spinner {
  font-size: 100px;
  padding: 100px;
}

.loader-spinner i {
  animation: rotation 2s infinite steps(8);
}

@keyframes rotation {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}


/** timeline box structure **/
.timeline {
  list-style: none;
  position: relative;
}

.timeline:before {
  top: 0;
  bottom: 0;
  position: absolute;
  content: " ";
  width: 3px;
  background-color: #eee;
  left: 50%;
  margin-left: -1.5px;
}

.tldate {
  display: block;
  width: 200px;
  background: #414141;
  border: 3px solid #212121;
  color: #ededed;
  margin: 0 auto;
  padding: 3px 0;
  font-weight: bold;
  text-align: center;
  -webkit-box-shadow: 0 0 11px rgba(0,0,0,0.35);
}

.timeline li {
  margin-bottom: 25px;
  position: relative;
}

.timeline li:before, .timeline li:after {
  content: " ";
  display: table;
}
.timeline li:after {
  clear: both;
}
.timeline li:before, .timeline li:after {
  content: " ";
  display: table;
}

/** timeline panels **/
.timeline li .timeline-panel {
  width: 46%;
  float: left;
  background: #fff;
  border: 1px solid #d4d4d4;
  padding: 20px;
  position: relative;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
  -webkit-box-shadow: 0 1px 6px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0 1px 6px rgba(0, 0, 0, 0.15);
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.15);
}

/** panel arrows **/
.timeline li .timeline-panel:before {
  position: absolute;
  top: 26px;
  right: -15px;
  display: inline-block;
  border-top: 15px solid transparent;
  border-left: 15px solid #ccc;
  border-right: 0 solid #ccc;
  border-bottom: 15px solid transparent;
  content: " ";
}

.timeline li .timeline-panel:after {
  position: absolute;
  top: 27px;
  right: -14px;
  display: inline-block;
  border-top: 14px solid transparent;
  border-left: 14px solid #fff;
  border-right: 0 solid #fff;
  border-bottom: 14px solid transparent;
  content: " ";
}
.timeline li .timeline-panel.noarrow:before, .timeline li .timeline-panel.noarrow:after {
  top:0;
  right:0;
  display: none;
  border: 0;
}

.timeline li.timeline-inverted .timeline-panel {
  float: right;
}

.timeline li.timeline-inverted .timeline-panel:before {
  border-left-width: 0;
  border-right-width: 15px;
  left: -15px;
  right: auto;
}

.timeline li.timeline-inverted .timeline-panel:after {
  border-left-width: 0;
  border-right-width: 14px;
  left: -14px;
  right: auto;
}


/** timeline circle icons **/
.timeline li .tl-circ {
  position: absolute;
  top: 23px;
  left: 50%;
  text-align: center;
  background: #6a8db3;
  color: #fff;
  width: 35px;
  height: 35px;
  line-height: 35px;
  margin-left: -16px;
  border: 3px solid #90acc7;
  border-top-right-radius: 50%;
  border-top-left-radius: 50%;
  border-bottom-right-radius: 50%;
  border-bottom-left-radius: 50%;
  z-index: 99999;
}


/** timeline content **/

.tl-heading h4 {
  margin: 0;
  color: #c25b4e;
}

.tl-body p, .tl-body ul {
  margin-bottom: 0;
}

.tl-body > p + p {
  margin-top: 5px;
}

/** media queries **/
@media (max-width: 991px) {
  .timeline li .timeline-panel {
    width: 44%;
  }
}

@media (max-width: 700px) {
  .page-header h1 { font-size: 1.8em; }

  ul.timeline:before {
    left: 40px;
  }

  .tldate { width: 140px; }

  ul.timeline li .timeline-panel {
    width: calc(100% - 90px);
    width: -moz-calc(100% - 90px);
    width: -webkit-calc(100% - 90px);
  }

  ul.timeline li .tl-circ {
    top: 22px;
    left: 22px;
    margin-left: 0;

  }
  ul.timeline > li > .tldate {
    margin: 0;
  }

  ul.timeline > li > .timeline-panel {
    float: right;
  }

  ul.timeline > li > .timeline-panel:before {
    border-left-width: 0;
    border-right-width: 15px;
    left: -15px;
    right: auto;
  }

  ul.timeline > li > .timeline-panel:after {
    border-left-width: 0;
    border-right-width: 14px;
    left: -14px;
    right: auto;
  }
}

ul.timeline .flexi-time {
  position: absolute;
  left: 55%;
  top: 20%;
}

li.timeline-inverted .flexi-time {
  position: absolute;
  left: 30%;
  top: 20%;
}

.tab-item {
  float: left;
  text-align: center;
  width: 50%;
}

.tab-item:first-child {
  border-right: 1px solid #ddd;
}

.tab-item.active h2 {
  color: red;
}